<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-xl-1">
      <div class="card text-bg-dark">
        <img src="assets/image/raamen_top.jpg" class="card-img" alt="ラーメンの画像">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h2><strong>新着投稿</strong></h2>
    </div>
    <div class="col-xl-4"></div>
  </div>
  <div class="row">
    <P>新着投稿5件</P>
  </div>
  <div class="row">
    <div class="col-xl-10"></div>
    <div class="col-xl-2">
      <P>link_to 投稿一覧</P>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h2><strong>高評価TOP5</strong></h2>
    </div>
    <div class="col-xl-4"></div>
  </div>
  <div class="row">
    <P>新着投稿5件</P>
  </div>
  <div class="row">
    <div class="col-xl-10"></div>
    <div class="col-xl-2">
      <P>link_to 投稿一覧</P>
    </div>
  </div>
</div>