<%= image_tag("public_top.jpg", alt: "ラーメン屋の暖簾画像", class: "img-fluid") %>
<div class="container my-5">
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h2><strong>新着投稿</strong></h2>
    </div>
    <div class="col-xl-4"></div>
  </div>
  <div class="row">
    <P>新着投稿5件</P>
  </div>
  <div class="row">
    <div class="col-xl-10"></div>
    <div class="col-xl-2">
      <P>link_to 投稿一覧</P>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h2><strong>高評価TOP5</strong></h2>
    </div>
    <div class="col-xl-4"></div>
  </div>
  <div class="row">
    <P>新着投稿5件</P>
  </div>
  <div class="row">
    <div class="col-xl-10"></div>
    <div class="col-xl-2">
      <P>link_to 投稿一覧</P>
    </div>
  </div>
</div>