<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-xl-1">
      <!--<img src="path/to/raamen_top.jpg" class="img-fluid" alt="Ramen Top Image">-->
      <%#= image_tag 'raamen_top.jpg', size: '600x300'%>

      <div class="card text-bg-dark">
        <img src="path/to/raamen_top.jpg" class="card-img" alt="Ramen Top Image">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <!--<div class="p-3 mb-2 bg-danger.bg-gradient text_white">-->
      <h2><strong>新着投稿</strong></h2>
      <!--</div>-->
    </div>
    <div class="col-xl-4"></div>
  </div>
  <div class="row">
    <P>新着投稿5件</P>
  </div>
  <div class="row">
    <div class="col-xl-10"></div>
    <div class="col-xl-2">
      <P>link_to 投稿一覧</P>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <!--<div class="p-3 mb-2 bg-danger.bg-gradient text_white">-->
      <h2><strong>高評価TOP5</strong></h2>
      <!--</div>-->
    </div>
    <div class="col-xl-4"></div>
  </div>
  <div class="row">
    <P>新着投稿5件</P>
  </div>
  <div class="row">
    <div class="col-xl-10"></div>
    <div class="col-xl-2">
      <P>link_to 投稿一覧</P>
    </div>
  </div>
</div>