<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card text-center w-100 my-5 shadow bg-body rounded">
        <div class="card-body">
          <h5 class="card-title">
            「らぁめん道場」への会員登録ありがとうございます。<br>
            会員登録により、下記の機能が使えるようになりました！
          </h5>
          <p class="card-text">
            ・投稿機能<br>
            ・コメント機能<br>
            ・フォロー機能<br>
            ・いいね機能<br>
          </p>
          <%= link_to "マイページ", my_page_path, class: "btn btn-outline-warning" %>
        </div>
      </div>
    </div>
  </div>
</div>