<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card text-center w-100 mb-3 shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-4">プロフィール写真</div>
            <div class="col-xl-8">
              <div class="row">
                <div class="col-xl-5">名前</div>
                <div class="col-xl-7"><%= @member.name %></div>
              </div>
              <div class="row">
                <div class="col-xl-5">サイト表示名</div>
                <div class="col-xl-7"><%= @member.nickname %></div>
              </div>
              <div class="row">
                <div class="col-xl-5">ひとこと</div>
                <div class="col-xl-7"><%= @member.comment %></div>
              </div>
              <div class="row">
                <div class="col-xl-5">メールアドレス</div>
                <div class="col-xl-7"><%= @member.email %></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 btn btn-outline-warning">会員情報編集</div>
            <div class="col-xl-3 btn btn-outline-warning">投稿一覧</div>
            <div class="col-xl-3 btn btn-outline-warning">いいねした投稿</div>
            <div class="col-xl-3 btn btn-outline-warning">フォロー/フォロワー</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>