<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card text-center w-100 my-5 shadow bg-body rounded">
        <div class="card-body  d-flex flex-wrap">
          <%= link_to member_path(member) do %>
          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--タグリスト-->
  <% @tag_list.each do |list|%>
    <i class="fa-sharp fa-solid fa-tag"></i>
    <%=link_to list.name,search_tag_path(workout_tag_id: list.id) %>
    <%="(#{list.post_workouts.count})" %>
  <% end %>