@use '~bootstrap/scss/bootstrap';

// ヘッダーのロゴサイズ
.logo {
  width: 100px;
  height: auto;
}

// 検索フォームの枠色
.form-control {
  border-color: #ffc107;
  border-width: 1px;
}

// ヘッダー下部のボーダー色
.navbar {
  border-bottom: 6px solid red;
}

// ヘッダーのボタン幅
.nav-item {
  width: 122px;
  text-align: center;
}

// ソート機能の選択肢幅
.nav-sort {
  width: 178px;
  text-align: center;
}

.nav-tabs {
  border-bottom: 1px solid #000000;
}

a {
    color: #000000;
}

// ホバー時のデザイン
.nav-tabs .nav-link:hover {
  border-color: transparent;
  color: #ff0000;
}

.nav-tabs .nav-link.active {
  color: #ff0000;
  border-color: #000000 #000000 #fff !important;
}

// 5段階評価の星サイズ
#taste_rating {
  img {
    width: 33px;
  }
}

#cook_time_rating {
  img {
    width: 33px;
  }
}

#process_rating {
  img {
    width: 33px;
  }
}

#difficulty_rating {
  img {
    width: 33px;
  }
}

// ページネーションのデザイン
.pagination>li>a {
  border: none !important;
  color: #000 !important;
}

// 表示しているページ番号のデザイン
.pagination>.active>a {
  color: #fff !important;
  background: #dc3545 !important;
  border-radius: 15px !important;   //角を丸くする
}

// ホバー時のデザイン
.pagination>li>a:hover {
  border-radius: 15px !important;   //角を丸くする
}

// フッターの位置
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}






.about-image {
  position: relative;
  }

.about-image .lo {/*classがfaのアイコンに対して*/
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
  color: white;/*アイコン色*/
  font-size: 60px;/*サイズ*/
  }

.about-image img {
  width: 100%;
  }