@import "~bootstrap/scss/bootstrap";

// ヘッダー下部のボーダー色
.navbar {
  border-bottom: 6px solid red;
}

// ヘッダーのボタン幅
.nav-item {
  width: 122px;
}

// 5段階評価の星サイズ
#taste_rating {
  img {
    width: 33px;
  }
}

#cook_time_rating {
  img {
    width: 33px;
  }
}

#process_rating {
  img {
    width: 33px;
  }
}

#difficulty_rating {
  img {
    width: 33px;
  }
}

// ページネーションのデザイン
.pagination>li>a {
  border: none;
  color: #696969;

// 表示しているページ番号のデザイン
.pagination>.active>a {
  background: #dc3545;
  border-radius: 100px;   //角を丸くする
}

// ホバー時のデザイン
.pagination>li>a:hover {
  border-radius: 15px;
}

// フッターの位置
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}